<tr>
  <td class="bookmarks">
    <span class="content"><%= bookmark.url %></span>
    <span class="timestamp">
      -- Posted <%= time_ago_in_words(bookmark.created_at) %> ago.
    </span>
    <span><%= link_to 'Edit', edit_bookmark_path(bookmark) %> 
    <!--<%= link_to 'Destroy', bookmark, :confirm => 'Are you sure?', :method => :delete %>-->
    </span>
      
  </td>
</tr>