<!--<p>

<%= link_to 'Show Bookmarks', bookmarks_path %> 
</p>-->
<br><br><br><br>
  <p><%= link_to 'New Bookmark', newbookmark_path %> </p><br><br>
  <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
